<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.motionlaboratory.e_psyc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EPsycApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Epsyc.NoActionBar">
        <activity
            android:name=".ui.webinar.DetailWebinarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.counseling.CounselingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pay.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pay.PayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>